{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz Expert - About Page {% endblock %}
{% block body %}
    <!-- .breadcumb-area start -->
    <div class="breadcumb-area bg-img-4 ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>About us</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span>About</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .breadcumb-area end -->
    <!-- about-area start -->
    <div class="about-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-wrap text-center">
                        <h3>Welcome to QuizCraft Pro!</h3>
                        <p style="text-align: justify;">
                            QuizCraft Pro redefines the world of online quizzing with a feature-rich platform that seamlessly blends knowledge, competition, and entertainment. At its core, QuizCraft Pro boasts a robust user authentication system to ensure a secure and user-friendly experience for all users. Administrators wield the power to create quizzes with precision, specifying titles, categories, and even time limits, while viewers can explore a vast selection of quizzes tailored to their interests.
                        </p>
                    
                        <p style="text-align: justify;">
                            Experience the thrill of quiz-taking with features like sequential question presentation, timers, instant feedback, and final score displays. Your progress is meticulously tracked with detailed user quiz history and real-time progress indicators. Compete with others and earn your spot on the leaderboards, showcasing your quizzing prowess to the world.
                        </p>
                    
                        <p style="text-align: justify;">
                            QuizCraft Pro isn't just a platform; it's an art form of quizzing. Join us in the pursuit of intellectual growth, friendly competition, and unforgettable trivia experiences. With its comprehensive feature set, QuizCraft Pro is the ultimate destination for quizzers seeking a new dimension of quizzing excellence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <!-- about-area end -->
    {% endblock %}

    